body{
    background-color: #191919;
    background-image: url(../img/background.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo img{
    margin: auto;
    display: block;
}